---
layout: default
gallery: true
---
{{ content }}
<style>
    .gallery-img img { width: 100%; }
</style>
<div class="container-fluid">
    <div class="alert alert-secondary alert-dismissible fade show m-0" role="alert">
        Discretion is advised for viewers with <a href="https://www.epilepsy.com/learn/triggers-seizures/photosensitivity-and-seizures" target="_blank">photosensitive epilepsy</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row" id="lightgallery">

    </div>

</div>