---
layout: page
---
{%- assign series = "TRANSLATIONS;eXOspACES;bonusROUND" | split: ";" -%}
{%- assign items = site.data.metadata -%}
<style>.img-thumbnail { max-height: 200px; }</style>
<ul class="nav nav-pills float-right" id="year-nav">
  <li class="nav-item dropdown ">
    <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Series</a>
    <div class="dropdown-menu">
      {% for y in series %}
      <a class="dropdown-item" href="#{{ y }}">{{ y }}</a>{% endfor %}
    </div>
  </li>
</ul>

{{ content }}

<table class="table table-striped">
  {% for s in series %}
  <tr>
    <th><h3 id="{{ s }}">{{ s }}</h3></th>
    <td><div class="row">
    {% for item in items %}{% if item.collection contains s %}
    <div class="col-md-4"><a href="{{ '/browse/item.html' | relative_url | append: '?id=' | append: item.indexid }}" ><img class="lazy img-thumbnail m-1" data-original="{% if item.format contains 'video' %}https://img.youtube.com/vi/{{ item.filename }}/maxresdefault.jpg{% else %}{{ item.filename }}{% endif %}" alt="{{ item.title | escape }}" data-toggle="tooltip" data-placement="bottom" title="{{ item.title | escape }} | {{ item.date | escape }}"/></a></div>
    {% endif %}{% endfor %}
    </div></td>
  </tr>
  {% endfor %}
</table>
